body{
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 13.5vw;
    height: 100%;
    background-color: #1E0342;
}

table {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1vw;
    color: #FFFFFF;
    margin-left: 2.5vw;
    margin-top: 150px;
}

td:hover {
    opacity: 50%;
}

td {
    padding-bottom: 45px;
}

.profile{
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.fa-stack.fa-lg{
    color: #FFFFFF;
    font-size: 1.1vw;
    margin-left: 2.5vw;
    float: left;
}
i.fa.fa-user.fa-stack-1x::before{
    color: #1E0342;
}

.profileText{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1vw;
    color: #FFFFFF;
    margin-left: 15px;
}